<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BzzFd</title>
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="/js/pace.min.js"></script>
    <link href="/css/pace.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <header>
        <a href="/"><h1>BzzFd</h1></a>
      </header>