@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;

  box-sizing: border-box;
}

#container {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #container {
    width: 60%;
  }
}

@media (max-width: 800px) {
  #container {
    width: 90%;
  }
}

header, h1, h2, h3, h4, h5, h6, ol {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

header h1 {
  font-size: 5.4rem;
  font-weight: bold;
  color: #E21;
}

h2 {
  font-size: 3.6rem;
  color: #333;
}

h3, ol {
  font-size: 2.6rem;
  color: #121212;
}

a {
  color: #E21;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherited;
}

p {
  font-size: 1.6rem;
}

input[type=text] {
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 1rem;
}

footer {
  font-size: 1.6rem;
  text-align: center;

  border-top: thick dotted #ff0000;
  padding: 2rem;
}

#headline-entry {
  text-align: center;
}

.item a, .item a:visited {
  font-size: 1.2rem;
  font-style: italic;
  color: #999;
}

.item img {
  width: 100%;
}